### Problem 2

#### Task #1: insert values to data frame

In [91]:
import pandas as pd
import os

In [92]:
StudentWeigh = pd.DataFrame(

    {
        'Measure':['Data Set A', 'Data Set B', 'Data Set C'],
        'Sample Size':[15670, 4500, 9334],
        'Mean':[550, 464, 534],
        'SD':[432, 140, 210] # Standard deviation
    }
)

StudentWeigh

      Measure  Sample Size  Mean   SD
0  Data Set A        15670   550  432
1  Data Set B         4500   464  140
2  Data Set C         9334   534  210

#### Task #2: Convert Standard deviation to pounds using 1 kg = 2.204 lb (Because set is in lb we need kg)

In [93]:
Mean = StudentWeigh['Mean']/2.204 
SD = StudentWeigh['SD']/2.204 # SD is short form of Standard deviation

In [94]:
Mean
Standard_deviation

0    196.007260
1     63.520871
2     95.281307
Name: Standard Deviation, dtype: float64

#### To find preffered data set we first find CV ( coefficient of variation )

In [95]:
CV = (SD / Mean)*100

In [96]:
CV = CV.round() # You can skip this part I did it to make data more accurate
CV = CV.astype(int) # converting data to integer to get rid of (.0 at the end) otherwise data will look like 79.0% 
CV = CV.astype(str) # converting it to string to be able to add %
CV = CV + '%' # Coefficient of variation is mostly expressed in % so its better to add % sign

In [97]:
CV

0    79%
1    30%
2    39%
dtype: object

### Task #3: Find a preferred data set

#### Finished with preparing data now start analysing :)

In [98]:
StudentWeigh['CV'] = CV

In [99]:
StudentWeigh

      Measure  Sample Size  Mean   SD   CV
0  Data Set A        15670   550  432  79%
1  Data Set B         4500   464  140  30%
2  Data Set C         9334   534  210  39%

#### In our question we are asked to choose data set with low variability & large sample size

A is big in sample size but it deviates from the mean a lot '79%'
On the other hand B does not deviates from the mean that much but it is really small data set compared to C which really does not make much difference in CV with B But almost doubled data size.

So it's better to choose Data Set C

In [100]:
# Best data set to work on :)
print(StudentWeigh.loc[[2]])

      Measure  Sample Size  Mean   SD   CV
2  Data Set C         9334   534  210  39%

In [101]:
# end of the project